# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore SVN paths
.svn
*/.svn

# Ignore the sandbox dev site directory
sandbox
sandbox/*

# Ignore SASS cache
.sass-cache
*/.sass-cache
