/******************************************************************
Site Name: All Rave Reviews
Author: Tom Beigle

Stylesheet: Mixins

mixins.css should include all the relevent styles and graphical elements
for a site, which would include things like icons, fonts, graphical treatments.
Basically, anything that is related to the sites design, not structure. 
******************************************************************/
/*
How to use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
Color Variables
*********************/
/*$col-main-txt: #696969;*/
/*********************
Font Variables
*********************/
/*********************
Border Variables
*********************/
/*********************
Width Variables
*********************/
/*********************
Height Variables
*********************/
/*********************
Clearfix
*********************/
/*********************
Width Mixins
*********************/
/*********************
Border Mixins
*********************/
/*********************
Background Mixins
*********************/
/*********************
Hiding stuff
*********************/
/*********************
Font Mixins
*********************/
/*********************
SHADOWS
*********************/
/*************************
Encoded background images

http://webcodertools.com/imagetobase64converter
*************************/
